/_build/
/deps/
/node_modules/

/examples/upcase/_build/
/examples/upcase/deps/

/examples/ascii/_build/
/examples/ascii/deps/

/examples/echo-elixir/_build/
/examples/echo-elixir/deps/

/examples/client/_build/
/examples/client/deps/
